html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
* Scut, a collection of Sass utilities to ease and improve our implementations of common style-code patterns.
* v0.5.0
* Docs at http://davidtheclark.github.io/scut
*/

h1 {
  font-size: 2.25em;
  line-height: 1.11111em;
  margin: 0 0 0.44444em 0;
}

h2 {
  font-size: 1.875em;
  line-height: 1.33333em;
  margin: 0.26667em 0 0.26667em 0;
}

h3 {
  font-size: 1.375em;
  line-height: 1.45455em;
  margin: 0em 0 0.72727em 0;
}

h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0 0 0.4em 0;
}

h5 {
  font-size: 1.125em;
  line-height: 1.33333em;
  margin: 0 0 0.44444em 0;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}

p,
pre,
label {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

ol,
ul {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 2em 0;
}

li {
  line-height: auto;
}

li.list-title {
  list-style: none;
}

article p {
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color: #aa1d49;
  -webkit-transition: all .15s;
  transition: all .15s;
  text-decoration: none;
}

a:hover {
  color: #f08023;
  border-bottom-color: #f08023;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}

ul.nobullet {
  list-style-type: none;
}

ol {
  list-style-position: outside;
  list-style-type: decimal;
}

strong,
b {
  font-weight: 600;
}

em,
i,
q {
  font-style: italic;
}

blockquote {
  padding-left: 1em;
  border-left: 0.3125em solid grey;
  line-height: normal;
  margin: 0;
}

blockquote p {
  font-style: italic;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 1.2em 0 1.2em 0;
}

body,
html {
  height: 100%;
}

body {
  position: relative;
  font-family: "proxima-nova", "Calibri", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #aa1d49 url("../img/bg-wood.jpg");
  -webkit-background-size: 336px 336px;
  background-size: 336px 336px;
}

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

.content-row {
  overflow: hidden;
  *zoom: 1;
}

.inner-wrap {
  *zoom: 1;
  max-width: 83em;
  _width: 83em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.inner-wrap:after {
  content: "";
  display: table;
  clear: both;
}

header#site-header .name {
  margin: 0;
  height: 80px;
  width: 100px;
  float: left;
  position: relative;
  background: #aa1d49;
}

header#site-header .name .pakpaothai {
  display: block;
  text-indent: -9999px;
  margin-top: -38px;
}

header#site-header .name img {
  width: 74%;
  margin: 12px auto;
}

header#site-header .name img.primary {
  display: block;
}

header#site-header .name img.secondary {
  display: none;
}

header#site-header .name:hover {
  background: #f08023;
}

header#site-header .name:hover img.primary {
  display: none;
}

header#site-header .name:hover img.secondary {
  display: block;
}

header#site-header nav#site-navigation {
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
  width: 100%;
  height: 80PX;
  background: white;
  text-align: center;
}

#header-content-wrap {
  min-height: 100%;
}

#page-wrap {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  min-height: 482px;
  padding: 2.22222em 4.44444em;
  background: #aa1d49;
  border-top: 1px solid #941940;
  border-left: 1px solid #941940;
  color: white;
}

#page-wrap h1,
#page-wrap h2,
#page-wrap h3,
#page-wrap h4,
#page-wrap h5,
#page-wrap h6 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

footer#site-footer {
  background: #f08023;
  width: 100%;
  height: 44px;
  clear: both;
  position: relative;
  margin-top: -44px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 400;
  font-size: 14px;
}

footer#site-footer .wrap-inner {
  padding: 9px 24px 0;
}

footer#site-footer .wrap-inner,
footer#site-footer .wrap-inner a {
  line-height: 32px;
}

footer#site-footer .wrap-inner .address {
  float: left;
  text-align: left;
}

footer#site-footer .wrap-inner aside.social a:hover {
  color: #aa1d49;
}

aside.social {
  float: right;
  margin: 0;
  padding: 0 24px;
}

aside.social a {
  padding: 0 4px;
  color: white;
  border: 0;
  line-height: 80px;
}

aside.social a:hover {
  color: #f08023;
}

@media (max-width: 780px) {
  header#site-header nav#site-navigation {
    height: auto;
  }

  header#site-header nav#site-navigation ul > li,
  header#site-header nav#site-navigation ul > li a {
    display: block;
  }

  header#site-header nav#site-navigation ul > li a {
    height: 20px;
    line-height: 20px;
    padding: 10px;
  }

  header#site-header nav#site-navigation .flexnav > li:first-child a {
    padding-top: 12px;
    border-top: 1px solid #aa1d49;
  }

  header#site-header nav#site-navigation .flexnav li:last-child a {
    padding-bottom: 12px;
  }

  header#site-header nav#site-navigation .flexnav li ul {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }

  header#site-header nav#site-navigation .flexnav li ul a {
    color: #c2c2c2;
  }

  footer#site-footer {
    height: auto;
  }

  footer#site-footer .wrap-inner {
    overflow: hidden;
    *zoom: 1;
    padding: 9px 24px;
    text-align: center;
  }
}

.flexnav {
  -webkit-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
}

.flexnav.opacity {
  opacity: 0;
}

.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.flexnav li {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.flexnav li a {
  position: relative;
  display: block;
  z-index: 2;
  overflow: hidden;
  color: #aa1d49;
  background: white;
  height: 80px;
  line-height: 80px;
  font-family: "proxima-nova", "Calibri", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 400;
  text-align: center;
  padding: 0 14px;
  font-weight: 800;
  font-size: 14px;
}

.flexnav li a:hover {
  color: #f08023;
}

.flexnav li ul {
  width: 100%;
  margin-bottom: 0;
}

.flexnav li ul li {
  font-size: 100%;
  position: relative;
  overflow: hidden;
}

.flexnav li ul.flexnav-show li {
  overflow: visible;
}

.flexnav li ul li a {
  line-height: 16px !important;
  padding: 10px;
  height: auto;
  font-size: 12px;
  border-bottom-color: #E7E7E7;
}

.flexnav ul li ul li a {
  background: white;
}

.flexnav ul li ul li ul li a {
  background: white;
}

.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  margin-right: 6px;
}

.flexnav .touch-button:hover {
  cursor: pointer;
}

.flexnav .touch-button:hover .navicon {
  color: #f08023;
}

.flexnav .touch-button .navicon {
  position: relative;
  line-height: 46px;
  font-size: 12px;
  color: #AA1D49;
}

.menu-button {
  cursor: pointer;
  float: right;
}

.menu-button .icon {
  font-size: 24px;
  color: #aa1d49;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  line-height: 80px;
  margin: 0 24px 0 0;
  display: inline-block;
}

.menu-button .touch-button .navicon {
  text-indent: -9999px;
  display: block;
}

@media all and (min-width: 800px) {
  header#site-header nav#site-navigation .flexnav {
    overflow: visible;
  }

  header#site-header nav#site-navigation .flexnav.opacity {
    opacity: 1;
  }

  header#site-header nav#site-navigation .flexnav li {
    position: relative;
    list-style: none;
    overflow: visible;
    display: inline-block;
  }

  header#site-header nav#site-navigation .flexnav li.item-with-ul {
    padding-right: 12px;
  }

  header#site-header nav#site-navigation .flexnav .touch-button .navicon {
    line-height: 78px;
  }

  header#site-header nav#site-navigation .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0;
  }

  header#site-header nav#site-navigation .flexnav li > ul li {
    width: 100%;
    float: left;
  }

  header#site-header nav#site-navigation .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }

  header#site-header nav#site-navigation .flexnav li ul li a {
    line-height: 16px !important;
    padding: 10px;
    height: auto;
    font-size: 12px;
    border-bottom-color: #E7E7E7;
  }

  header#site-header nav#site-navigation .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }

  header#site-header nav#site-navigation .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }

  header#site-header nav#site-navigation .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  .menu-button {
    display: none;
  }
}

.oldie body.one-page {
  padding-top: 70px;
}

.oldie .flexnav {
  overflow: visible;
}

.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}

.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible;
}

.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}

.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}

.oldie .flexnav li a {
  overflow: visible;
}

.oldie .flexnav li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}

.oldie .flexnav li ul li ul {
  top: 0;
}

.oldie .flexnav li ul li a {
  line-height: 16px !important;
  padding: 10px;
  height: auto;
  font-size: 12px;
  border-bottom-color: #E7E7E7;
}

.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}

.oldie .flexnav li ul.open li {
  width: 100%;
}

.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}

.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0;
}

.oldie .menu-button {
  display: none;
}

.oldie.ie7 .flexnav li {
  width: 19.9%;
}

#susy-grid-example {
  background: white;
}

#susy-grid-example #grid-test {
  margin-top: 40px;
  *zoom: 1;
  max-width: 83em;
  _width: 83em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

#susy-grid-example #grid-test:after {
  content: "";
  display: table;
  clear: both;
}

#susy-grid-example .block {
  background: rgba(170, 29, 73, 0.42);
  height: 140px;
}

#susy-grid-example .row {
  overflow: hidden;
  *zoom: 1;
  margin-top: 24px;
}

#susy-grid-example .header {
  background: rgba(170, 29, 73, 0.82);
  height: 80px;
  margin-left: -1em;
  margin-right: -1em;
}

#susy-grid-example .header .inner-wrap {
  margin-left: 1em;
  margin-right: 1em;
}

#susy-grid-example .header .name {
  width: 15.66265%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  height: 80px;
  background: rgba(250, 250, 250, 0.5);
}

#susy-grid-example .header ul {
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: rgba(250, 250, 250, 0.5);
}

#susy-grid-example .header ul > li {
  display: inline-block;
}

#susy-grid-example .header ul > li + li {
  margin-left: 0.62em;
}

#susy-grid-example .header .social {
  background: rgba(250, 250, 250, 0.5);
  width: 15.66265%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  height: 80px;
}

#susy-grid-example .footer {
  overflow: hidden;
  *zoom: 1;
  background: rgba(170, 29, 73, 0.82);
  height: 40px;
  margin-top: 40px;
  margin-left: -1em;
  margin-right: -1em;
}

#susy-grid-example .block.one {
  width: 7.22892%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

#susy-grid-example .block.one.last {
  width: 7.22892%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

#susy-grid-example .block.two {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

#susy-grid-example .block.two.last {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

#susy-grid-example .block.three {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

#susy-grid-example .block.three.last {
  width: 49.39759%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

#susy-grid-example .block.four {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

#susy-grid-example .block.four.last {
  width: 24.09639%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}

#susy-grid-example .block.two-sm {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
  display: inline;
}

#susy-grid-example .block.two-lg {
  width: 74.6988%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}