!!! 5

-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js{:lang => "en"}

    %head

        %meta{:charset => "utf-8"}

        %title PAKPAO •
        %meta{:name => "description", :content => ""}
        %meta{:name => "keywords", :content => ""}
        %meta{:name => "author", :content => ""}

        -# Mobile
        %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

        -# RSS
        -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}

        -# Favicon
        %link{:href => "../img/favicon.ico", :rel => "shortcut icon"}

        -# CSS
        %link{:rel => "stylesheet", :href => "../css/app.css"}
        %link{:rel => "stylesheet", :href => "../fonts/ss-social/webfonts/ss-social.css"}

        -# /[if (lt IE 9) & (!IEMobile)]
            %script{:src => "../js/libs/ie.min.js"}
            -# %link{:rel => "stylesheet", :href => "/css/ie8.css"}

        -# Typekit
        %script{:src => "http://use.typekit.com/agl8hhk.js"}
        %script
            try{Typekit.load();}catch(e){}

        -# Modernizr
        %script{:src => "../../bower_components/modernizr/modernizr.js"}

    %body
        -# General Layout


        #header-content-wrap
            %header#site-header
                %h1.name
                    .pakpaothai PAKPAO
                    %a{:href => "#"}
                        %img.primary{:src => "../img/logo-header_orange.png", :alt => ""}/

                        %img.secondary{:src => "../img/logo-header_red.png", :alt => ""}/

                .menu-button
                    .icon &#9776;
                %nav#site-navigation

                    %ul.flexnav{:"data-breakpoint"=>"780"}
                        %li
                            %a{:href => "about"} about
                        %li
                            %a.title{"data-dropdown" => "drop1", href: "#"} Menus
                            %ul
                                %li
                                    %a{:href => "gallery"} Regular
                                %li
                                    %a{:href => "gallery"} Kids
                                %li
                                    %a{:href => "gallery"} Suki
                                %li
                                    %a{:href => "gallery"} Bar
                                %li
                                    %a{:href => "gallery"} Special Events

                        %li
                            %a{:href => "gallery"} gallery
                        %li
                            %a{:href => "find-us"} find us
                        %li.current
                            %a{:href => "to-go"} to go
                        %li
                            %a{:href => "store"} store
                        %li
                            %a{:href => "calendar"} calendar
                        %li
                            %a{:href => "press"} press




            #content-wrap




        %footer#site-footer
            .wrap-inner
                %aside.social
                    %a.ss-facebook{:href => ""}
                    %a.ss-instagram{:href => ""}
                    %a.ss-twitter{:href => ""}
                .address
                    1628 Oaklawn Ave, Suite 120, Dallas, Texas, 75207
                    %a{:href => "tel:+214-749-7002"} 214 749 7002
                / %aside.note
                /     distinct, unique, classic.



        %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
        // window.jQuery || document.write('<script src="bower_components/jquery/jquery.min.js../../bower_components/jquery/jquery.min.js"><\/script>')
        %script{:src => "../js/libs/flexnav.min.js"}
        %script{:src => "../js/app.js"}


        -# Asynchronous Google Analytics
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));





